<h1> Timmy's Story Preview</h1>
<div class="book-container">
  <div class="btns">
      <button class="prev"></button>
      <button class="next"></button>
  </div>
  <div class="flipper">
      <div class="current left page <%= @dataset_flipper[0][:color] %> ontop"><%= @dataset_flipper[0][:content] %></div>
      <div class="current right page <%= @dataset_flipper[1][:color] %> ontop"><%= @dataset_flipper[1][:content] %></div>
  </div>
</div>


<div class="customized-pages1">
<!--  <%= @content_with_name%> -->

 <%= content_tag :div,
  nil,
  id: 'data-flipper',
  data: { pages: @dataset_flipper} %>
</div>




