
<div class="banner home-color" ">
  <div class="banner-content">
    <h1><%= image_tag "bookie_logo.svg", height: 50 %> BOOKIDS</h1>
    <%= image_tag "linea_redonda.png" %>
    <p>An easy way to solve problems through identification and imagination</p>
    <div class ="search-button">
      <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "search-form form-control",
        placeholder: "What is your child struggling with? "
        %>
        <% end %>
      </div>
    </div>
  </div>

<div class="intro" >
  <div class="row">
    <div class="col-xs-12 home-description">
      <h1>Welcome to Bookids</h1>
      <p>The best way to educate and share stunning personalized stories with your kids.</p>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class=" steps">
        <div class="step_by_step">
          <%= image_tag "icon1.png", class:"intro-icons" %>
          <h1>Find a story</h1>
          <p> Search for a story that fits to your children's problem.</p>
        </div>
        <div class="step_by_step">
          <%= image_tag "icon2.png", class:"intro-icons" %>
          <h1>Personalize</h1>
          <p>Customize the story to make your child the main characater. </p>
        </div>
        <div class="step_by_step last"  >
          <%= image_tag "icon3.png", class:"intro-icons"  %>
          <h1>Download & Print </h1>
          <p>Download the personalized book and receive a printed version only 4 days after.</p>
        </div>
      </div>
      <div class ="cloud">
        <%= image_tag "cloud.png" %>
      </div>
    </div>
   </div>
 </div>

<%= image_tag "banner_bottom_2.png", class: "banner_bottom", id: "limit-bottom-home" %>
<div class="landing-bottom">
 <div class="row">
    <div class="col-xs-12 home-description">
        <h1>Search by categories</h1>
        </div>
        <div class = "carrousel_filter">
          <%= link_to "sleep", filtered_books_path(category: "sleep"), class: "btn-carrousel", remote: true %>
          <%= link_to "sports", filtered_books_path(category: "sports"), class: "btn-carrousel", remote: true %>
          <%= link_to "friends", filtered_books_path(category: "friends"), class: "btn-carrousel", remote: true %>
          <%= link_to "food", filtered_books_path(category: "food"), class: "btn-carrousel", remote: true %>
        </div>
        <p>.</p>
      <div id="main-carrousel">
        <%= render 'shared/carrousel', books: @books %>
      </div>
    </div>
</div>

<%= javascript_pack_tag 'carrousel' %>
<%= javascript_pack_tag 'navbar' %>
