<div class="site-content-index">
  <div class="container-search">
      <% if @books.count == 0 %>
        <div class="not">
          <h1>Sorry, your book was not found</h1>
          <p>Feel free to browse our current <a href="/books">library</a> or try again.</p>
        </div>
      <!-- MESSAGE NOT FOUND... LINK TO SHOW ALL BOOKS -->
      <% else %>
      <div class="header">
        <% if current_user != nil %>
          <p>Hi <%= current_user.first_name.capitalize %>, our search resulted in the following books:</p>
        <% else %>
          <p class="search-results">Our search has resulted the following books:</p>
        <% end %>
      </div>
      <div class="index-search">
        <%= form_tag books_path, method: :get, class: 'search-filters' do %>
        <div class ="search-button-index">
          <%= text_field_tag :query,
            params[:query],
            class: "search-form form-control-index",
            placeholder: "Search"
          %>
        </div>

        <%= select_tag(:category, options_for_select([["Friends", "friends"], ["Sports", "sports"], ["Sleep", "sleep"], ["Food", "food"]]), id: "index-category") %>

        <div class="slidecontainer">
          <%= range_field_tag('price_cents', nil, min: 1, max: 30, value: params[:price_cents] ? params[:price_cents] : 30, class: "slider", id: "myPriceRange") %>
          <p>Max Price <i class="fas fa-euro-sign"></i>
          <span id="demo"></span></p>
        </div>
        <input class="apply-btn" type="submit" name="commit">
        <% end %>
      </div>
    </div>
  <div class="wrapper-search">
  <div class="wrapper">
    <div class="row">
        <% @books.each do |book| %>
        <div class="col-sm-6 col-md-4 single-card">
          <%= link_to book_path(book) do %>
          <div class='thumbnail'>
            <p class="name"> <%= book.name %></p>
            <div class="photo-index" style="background-image:url(<%= image_path(book.photo)%>)">
            </div>
            <div class="caption">
              <div class="text">
                <div class="age-stars-price-index">
                  <p><i class="fas fa-child"></i>  <%=book.age %></p>
                    <%= link_to book_favorites_path(book), method: :post, remote: true do %>
                      <i class="fas fa-heart <%= book.liked?(current_user) ? "like" : "dislike"  %>" id='favorite-book-<%= book.id %>'></i>
                    <% end %>
                  <p><%= humanized_money_with_symbol(book.price) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>
    <%end %>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'choices' %>
<%= javascript_pack_tag 'dropdown' %>
<script>
  var slider = document.getElementById("myPriceRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
  output.innerHTML = this.value;
  }
</script>



