
<div class="wrapper">
  <div class="row">
    <div class="col-sm-12 col-md-5 single-card-show">
      <div class="photo-show" style="background-image:url(<%= image_path(@book.photo)%>)"></div>
      <div class="col-sm-12 col-md-12 author-show">
        <div class="list-facts">
          <div><p><i class="fas fa-search"></i> <%=  @book.category %></p></div>
          <div><p><i class="fas fa-money-bill-alt"></i> <%= humanized_money_with_symbol(@book.price) %></p></div>
          <div><p><i class="fas fa-child"></i> <%=  @book.age %></p></div>
        </div>
        <h2><%= @book.name %></h2>
        <h3>... written by <%= @book.author %></h3>
        <p><%= @book.description %></p>
      </div>
    </div>
  </div>

  <div style="margin-top:50px;margin-bottom:10px">
    <div class="line"></div>
  </div>

  <div>
    <% @personalizations.each do |personalization| %>
      <% personalization.reviews.each do |review| %>
        <div class="reviews">
          <div class="reviews-left">
            <div class="review-stars">
              <%= select_tag "stars", options_for_select((0..5).to_a, review.stars), class: "review-stars-select" %>
            </div>
            <div class="review-user">
              <%= personalization.user.first_name %>
            </div>
          </div>
          <div class="review-right">
            <div class="review-header">
              <%= review.header %>
            </div>
            <div class="review-description">
              <%= review.description %>
            </div>
          </div>
        </div>
      <div style="margin-top:50px;margin-bottom:10px">
        <div class="line"></div>
      </div>
      <% end %>
    <% end %>
  </div>


  <%= simple_form_for [@book, @personalization] do |f| %>
    <% if @personalization.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @personalization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.input :character_name, input_html: {class: 'form-control'}, label: false, placeholder: "name" %>
      <%= f.input :character_age, input_html: {class: 'form-control'}, label: false, placeholder: "age" %>
      <%= f.input :character_gender, input_html: {class: 'form-control'}, label: false, placeholder: "gender" %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>

  <% if @completed_personalization %>
    <%= link_to "Preview your book", personalization_path(@completed_personalization) %>
  <% else %>
    <%= link_to "Preview your book", book_path{@book} %>
  <% end %>
</div>

