<div class="wrapper">

<!--   <div class="book-row">
    <div class="col-sm-12 col-md-6 photo-show">
      <%= image_tag(@book.photo, width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6 author-show">
      <h2><%= @book.name %></h2>
      <h3>... a story written by <%= @book.author %></h3>
      <p><%= @book.description %></p>
      <div class="list-facts">
        <p><i class="fas fa-search"></i> <%=  @book.category %></p>
        <p><i class="fas fa-money-bill-alt"></i> <%= humanized_money_with_symbol(@book.price) %></p>
        <p><i class="fas fa-child"></i> <%=  @book.age %></p>
        <p><i class="fas fa-star"></i> <%= %>Stars</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= form_tag book_personalizations_path(@book)do %>
        <%= hidden_field_tag 'book_id', @book.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div> -->
<div class="row">

    <div class="col-sm-12 col-md-5 single-card-show">

          <div class="photo-show" style="background-image:url(<%= image_path(@book.photo)%>)">
          </div>
    <div class="col-sm-12 col-md-12 author-show">
      <div class="list-facts">
        <p><i class="fas fa-search"></i> <%=  @book.category %></p>
        <p><i class="fas fa-money-bill-alt"></i> <%= humanized_money_with_symbol(@book.price) %></p>
        <p><i class="fas fa-child"></i> <%=  @book.age %></p>
        <p><i class="fas fa-star"></i> <%= %>Stars</p>
      </div>
        <h2><%= @book.name %></h2>
        <h3>... written by <%= @book.author %></h3>
        <p><%= @book.description %></p>
    </div>


        </div>
      </div>


  <div style="margin-top:50px;margin-bottom:10px">
    <div class="line"></div>
  </div>
  <div>
    <% @personalizations.each do |personalization| %>
      <% personalization.reviews.each do |review| %>
        <div class="reviews">
          <div class="reviews-left">
            <div class="review-stars">
              <%= select_tag "stars", options_for_select((0..5).to_a, review.stars), class: "review-stars-select" %>
            </div>
            <div class="review-user">
              <%= personalization.user.first_name %>
            </div>
          </div>
          <div class="review-right">
            <div class="review-header">
              <%= review.header %>
            </div>
            <div class="review-description">
              <%= review.description %>
            </div>
          </div>
        </div>
      <div style="margin-top:50px;margin-bottom:10px">
        <div class="line"></div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
