<div class="site-content-show">
  <div class="wrapper">
    <div class="show-card">
      <div class="photo-row">
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 book-photo">
          <%= image_tag(@book.photo, width: '100%', height: '100%') %>
        </div>
        <div class="col-sm-12 col-md-6 author-show">
          <div class="bookmark">
            <i class="fas fa-bookmark"></i>
          </div>
          <div class="description-show">
            <h2><%= @book.name %></h2>
            <div class="author-and-average">
              <h3>by <%= @book.author %></h3>
              <div class="average-show">
                <i class="fas fa-star"></i>
                <%= @average %>
              </div>
            </div>
            <p><%= @book.description %></p>
          </div>
          <div class="list-facts">
            <p><i class="fas fa-search"></i> <%=  @book.category %></p>
            <p><i class="fas fa-money-bill-alt"></i> <%= humanized_money_with_symbol(@book.price) %></p>
            <p><i class="fas fa-child"></i> <%=  @book.age %></p>
          </div>

        <!-- Button trigger modal -->
        <div class="button-personalize">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Personalize your book
          </button>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Personalize your book</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Simple Form -->
                <%= simple_form_for [@book, @personalization], remote: true do |f| %>
                  <% if @personalization.errors.any? %>
                    <div class="errors-container">
                      <ul>
                        <% @personalization.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div id="form_personalization">
                    <div class="row">
                      <input class="form-control string optional" id="fancy-text" type="text" name="personalization[character_name]">
                      <label class="form-control-label string optional" for="fancy-text">Name</label>
                    </div>
                    <div class="row">
                      <input class="form-control string optional" id="fancy-text" type="text" name="personalization[character_age]">
                      <label class="form-control-label string optional" for="fancy-text">Age</label>
                    </div>
                    <div class="gender-row">
                      <div class="form-check-gender">
                        <input class="hidden" type="radio" value="female" name="personalization[character_gender]" id="personalization_character_gender_female">
                        <label class="choice" for="personalization_character_gender_female"><%= image_tag "girl.png" %></label>
                      </div>
                      <div class="form-check-gender">
                        <input class="hidden" type="radio" value="male" name="personalization[character_gender]" id="personalization_character_gender_male">
                        <label class="choice" for="personalization_character_gender_male"><%= image_tag "boy.png" %></label>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="modal-footer">
                <div class="button-save">
                  <%= f.submit class: 'save-button', value: "Save" %>
                </div>
                <div id="personalization-links"></div>
              </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  <% if @book.reviews.any? %>
<!-- reviews -->
    <div class="header-review">
      <h2>Reviews</h2>
    </div>
    <div class="average">
      <i class="fas fa-star"></i>
      <%= @average %>
    </div>
    <div>
      <% @personalizations.each do |personalization| %>
        <% personalization.reviews.each do |review| %>
        <div style="margin-top:50px;margin-bottom:10px">
          <div class="line"></div>
        </div>
          <div class="reviews">
            <div class="picture">
              <%= cl_image_tag personalization.user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar" %>
            </div>
            <div class="reviews-left">

              <div class="review-stars">
                <%= select_tag "stars", options_for_select((0..5).to_a, review.stars), class: "review-stars-select" %>
              </div>
              <div class="review-user">
                <%= personalization.user.first_name %>
              </div>
            </div>
            <div class="review-right">
              <div class="review-header">
                <%= review.header %>
              </div>
              <div class="review-description">
                <%= review.description %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
  </div>
</div>

