
<div class="site-content-checkout">
  <div class="wrapper">
    <div class="checkout-wrapper">
      <%= form_tag order_payments_path(@order) do %>
      <article>
        <label class="amount">
          <div class="col-sm-12 col-md-12 book-photo-checkout">
            <%= image_tag(@order.user.personalizations.last.book.photo, width: '100%', height: '100%') %>
          </div>
          <div class="col-sm-12 col-md-12 author-show">
            <div class="description-checkout">
              <h2><%= @order.user.personalizations.last.book.name %></h2>
            </div>
            <div>
              <div class="list-facts">
                <p><i class="fas fa-address-card"></i> <%=  @order.user.personalizations.last.character_name.capitalize %></p>
                <p><i class="fas fa-child"></i> <%=  @order.user.personalizations.last.character_gender.capitalize %></p>
                <p><i class="fas fa-birthday-cake"></i> <%= @order.user.personalizations.last.character_age %></p>
              </div>
              <p class="detail-text">Your personalization details</p>
            </div>
            <div class="payment-details-container">
              <div class="payment-detail">
                <h3><%= humanized_money_with_symbol(@order.amount) %></h3>
                <p class="detail-text">Amount to be completed</p>
              </div>
              <div class="payment-detail">
                <h3><%= (DateTime.now.to_date + 4).strftime("%A, %b %d") %></h3>
                <p class="detail-text">Expected delivery</p>
              </div>
            </div>


            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button custom-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="<%= @order.user.personalizations.last.book.name%>"
            data-email="<%= current_user.email %>"
            data-description="<%= @order.personalization_sku %>"
            data-amount="<%= @order.amount_cents %>"
            data-currency="<%= @order.amount.currency %>"></script>
          </div>

        </label>
      </article>
    <% end %>
    </div>
  </div>
</div>




